body {
  padding: 50px;
  font: 14px Meiryo UI","メイリオ","ＭＳ ゴシック;
}

a {
  color: #00B7FF;
}

.result{
  width:100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.result th{
  width: 150px;
  padding: 4px;
  text-align: left;
  vertical-align: top;
  color: #444;
  background-color: #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  word-break:break-all; 
}
.result td{
  width: 150px;
  padding: 4px;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  word-break:break-all; 
}